body {
  margin: 0px;
  padding: 0px;
  color: #c6d0f5;
  background-color: #302d41;
  font-family: "roboto";
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1 {
  font-size: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #181825;
  margin: 0px;
  padding: 16px;
}

.h-logo {
  display: flex;
  align-items: center;
  color: #87b0f9;
  padding: 16px;
  font-weight: bold;
  font-size: 24px;
}

.headlinks {
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.hl {
  margin: 8px;
  padding: 8px;
}

.first {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  height: 35vh auto;
}

.text-and-button {
  padding: 16px;
}

.fh1 {
  margin: 0;
}

.button1 {
  background-color: #1e66f5;
  color: #cdf;
  border: none;
  border-radius: 7px;
  padding: 6px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 18px;
  margin-top: 8px;
}

.subtext1 {
  color: #a1a8c9;
}

.fire {
  width: 250px;
  height: 250px;
}

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  color: #4c4f69;
  background-color: #dce0e8;
}

.people {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.picon {
  display: flex;
  flex-direction: column;
  margin: 16px;
  align-items: center;
  width: 250px;
  text-align: center;
}

.person {
  width: 200px;
  filter: invert (50%);
}

.third {
  display: flex;
  flex-direction: column;
  padding: 56px;
  color: #4c4f69;
  background-color: #96cdfb;
}

.quote {
  font-size: 40px;
}

.author {
  font-weight: bold;
  text-align: right;
  font-size: 28px;
}

.fourth {
  display: flex;
  padding: 32px;
  padding-right: 54px;
  padding-left: 54px;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

.clickme {
  border-radius: 7px;
  padding: 16px;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 30px;
  border-color: white;
  background: none;
  border: 2px solid #cdd0f5;
  color: #cdd0f5;
}

.clickme:hover {
  background-color: #313244;
}

.clickme:active {
  border-color: #51576d;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #51576d;
  background-color: #181825;
  height: 7vh;
}
