body {
  margin: 0px;
  color: #c6d0f5;
  background-color: #302d41;
  font-family: "roboto";
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #181825;
  margin: 0px;
  width: 100%;
  padding: 16px;
}

.h-logo {
  display: flex;
  align-items: center;
  color: #87b0f9;
  padding: 8px;
  font-weight: bold;
  font-size: 24px;
}

.headlinks {
  display: flex;
  align-items: center;
  padding-right: 16px;
}

.hl {
  margin: 8px;
  padding: 8px;
}

.first {
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: space-between;
}

.text-and-button {
  padding: 16px;
}

.button1 {
  background-color: #1e66f5;
  color: #cdf;
  border: none;
  border-radius: 7px;
  padding: 6px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 18px;
  margin-top: 8px;
}

.subtext1 {
  color: #a1a8c9;
}

.fire {
  width: 250px;
  height: 250px;
}
